<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TDU2_Track_Records.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <TDU2_Track_Records.Properties.Settings>
      <setting name="connectionString" serializeAs="String">
        <value>Data Source=|DataDirectory|database.db;Version=3;</value>
      </setting>
      <setting name="system" serializeAs="String">
        <value>Metric</value>
      </setting>
      <setting name="speed" serializeAs="String">
        <value>km/h</value>
      </setting>
      <setting name="distance" serializeAs="String">
        <value>km</value>
      </setting>
      <setting name="average_Speed" serializeAs="String">
        <value />
      </setting>
      <setting name="high_average" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="weight" serializeAs="String">
        <value>kg</value>
      </setting>
      <setting name="engineSize" serializeAs="String">
        <value>cc</value>
      </setting>
      <setting name="torque" serializeAs="String">
        <value>N⋅m</value>
      </setting>
      <setting name="horsepower" serializeAs="String">
        <value>bhp</value>
      </setting>
      <setting name="BGOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Points" serializeAs="String">
        <value>Points</value>
      </setting>
      <setting name="BackupFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="dealershipColumns" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="dealershipSlots" serializeAs="String">
        <value>8</value>
      </setting>
    </TDU2_Track_Records.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>